RewriteEngine On

# 1. Block direct web access to sensitive environment, git, and log files
<FilesMatch "^\.|\.env$|\.log$|\.sql$">
    Order allow,deny
    Deny from all
</FilesMatch>

# 2. Pass Authorization header to PHP
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# 3. Redirect all requests to index.php if the file doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
